body {
  height: 100vh;
  font-family: $helvetica, sans-serif;
  background:
          linear-gradient(
            to right,
            rgba( color( main-color ), .9 ),
            rgba( color( main-color ), .3 )
          ),
          url('../img/7b5b5330-112b-11ea-a77f-7c019be7ecae.jpg') center top;
  background-size: cover;
}

.header {
  position: fixed;
  z-index: z( header );
  width: 100%;
  padding: 1rem;
  @include flex( $j-c: center );
}