$breakpoints: (
        small: 767px,
        medium: 992px,
        large: 1200px
);

$colors: (
        main-color: #272727,
        secondary-color: #ff652f,
        white: #fff
);

$z-layers: (
        bottomless-pit: -9999,
        default: 1,
        header: 2,
);