$breakpoints: (
        small: 767px,
        medium: 992px,
        large: 1200px
);

$colors: (
        main-color: null
);

$z-layers: (
        bottomless-pit: -9999,
        default: 1,
        dropdown: 10,
        overlay: 11,
        modal: 12
);